<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select age</title>
</head>
<body>
<div>
    <form method="post">
        <div>
            Select age:
            <select name="category" size="2">
                <option value="child">0-9</option>
                <option value="teenager">10-19</option>
                <option value="adult">&gt; 20</option>
            </select><br />
            <input type="submit" name="submit" value="Submit" />
            <input type="submit" name="cancel" value="Cancel" />
        </div>
    </form>
</div>
</body>
</html>